<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tracktor</title>
  <link rel="stylesheet" href="css/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Syne&display=swap" rel="stylesheet">

  <style>
    .header {
      background-color: #397455;
      height: 45px;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: 10px 9px 10px rgba(0,0,0,.15)
    }
    .contract{
      text-align: center;
      margin-top: 150px;
    }
    .table{
      align-items: center;
      display: flex;
      margin-left: 500px;
    }
    p{
      font-family: "Syne";
    }
    body {
      background-color: #acf3ce;
    }
    .btn{
      padding-inline: 40px;
      padding-block:20px;
      border-radius: 10px;
      background-color: lightgreen;
      border: none;
      font-weight: bold;

    }
    .left-section {
      margin-left: 5px;
      margin-top: 8px;
      font-weight: bold;
    }
    .right1 {
      margin-top: 10px;
      margin-left: 75%;
      text-align: right;
      display: inline-block;
      font-weight: bold;
      font-family: "Syne";
    }
    .box{
      margin-top: 60px;
      font-family: "Syne";

    }
    .predict1 {
      font-family: cursive;
      font-size: 25px;
      margin-left: 10px;

    }
    .view-contra {
      text-align: center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    .right2 {
      font-family: "Syne";
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="header">
    <p class="left-section">
      FARMER LOGIN
    </p>
    <p class="right1">
       <a href="index.html" style="text-decoration: none; color: black">HOME</a>
    </p>
    <p class="right2">
      <a href="about.html" style="text-decoration: none; color: black">ABOUT</a>
    </p>
  </div>
  <div>
